<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tdp.pasrasapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="13" />
   <uses-permission
        android:name="android.permission.INTERNET"/>
 
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainRegistrarActividad"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
          <activity
            android:name=".MainMenuPrincipal"
            android:label="@string/app_namemenu" >

        </activity>
        
          
           <activity
            android:name=".ActividadPrincipal"
            android:label="@string/app_mreiact" >

        </activity>
        
           
            <activity
            android:name=".MainActividadPrincipal"
            android:label="@string/app_ActividadPrincipal" >

        </activity>
        
            
             <activity
            android:name=".MainAsignarEstimado"
            android:label="@string/app_MainAsignarEstimado" >

        </activity>
        
             
             
              <activity
            android:name=".MainPlanificacion" 
            android:label="@string/app_mMainPlanificacion"  >

        </activity>
        
              
              
               <activity
            android:name=".MainRegistrarActivReal"
            android:label="@string/app_MainRegistrarActivReal" >

        </activity>
        
               
               
                <activity
            android:name=".MainRegistrarPlanific"
            android:label="@string/app_MainRegistrarPlanific" >

        </activity>
        
                
         
        
        
    </application>

</manifest>
